$main-color: #501166; 
$text-color: #ccc; 
$main-font: .8rem;
$link-color: #3163c6;

body {
  background-color: $main-color; 
  h1 a {
    color: #fff;
    text-decoration: none;
  }

  h1 a:hover {
    color: $link-color;
    text-decoration: underline;
  }

  h2, 
  p {
    color: $text-color;
  }
  p {
    font-size: $main-font;
  }
  .desafio {
    background-color: #fff;
    border-radius: .5rem;
    color: #000;
    padding: .4rem .8rem;
    text-decoration: none;
  }
  
  .desafio:hover {
    color: $link-color;
  }

  .color-array-strings {
    color: yellow;
    font-weight: 900;
  }

  .link-desafio {
    margin-top: 2rem;
  }

  h3 {
    color: #000;
  }
}
