/* screen and (max-width: 748px)
Quando tela for MENOR que 1100px de largura - Estilização Mobile 
*/


@media screen and (max-width: 1100px) {
  body {
   height: 820px;
   background-position: center;
  }

  header #first-nav, .unique-nav {
    display: none;
  }

  header nav ul .show-nav {
    display: inline;
    background-color: rgba(119, 119, 119, 0.134);
    border-radius: 10px;
  }

  main #buttons {
    position: relative;
    bottom: 200px;
    width: 100%;
  }

  main #buttons button {
    width: 90%;
  }
  
}