body {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  max-width: 1480px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

header img {
  width: 115px;
  height: 12px;
}

.show-nav {
  display: none;
}

header ul li {
  display: inline;
  padding: 10px 20px;
}

header ul li a {
  text-decoration: none;
  color:  rgb(50, 50, 50);
}

/* main */
main {
  text-align: center;
}

main #title {
  margin-top: 80px;
  line-height: 10px;
}

main #title h1 {
  font-size: 46px;
}

main #title h2 {
  font-weight: lighter;
  text-decoration: underline;
  font-size: 16px;
}

main #buttons {
  margin-top: 370px;
}

main #buttons button {
  margin: 10px;
  padding: 12px 74px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  color:  rgb(50, 50, 50);
}

main #buttons #black-btn{
  background-color: rgb(50, 50, 50);
  color: white;
}