.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

/* Estilizar todo post que antes dele tenha um post também */
.post +.post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

/* Cuidado quando usar tag html -> Estiliza todos os headers do post */
/* Sinal de maior > CSS busca header que está no primeiro nível dentro do post */
.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.75rem;
  color: var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author img {
   /* 3 rem + as bordas */
   width: calc(3rem + 12px);  
   height: calc(3rem + 12px);
   border-radius: 8px; 
   /* bordas: 4px de um lado + 4px de outro lado + 2px de um lado + 2px do outro lado = 12px */
   border: 4px solid var(--gray-800);
   outline: 2px solid var(--green-500);
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;

}

.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  /* resize: none; -> Não permite que o usuário redimensione a textarea */
  resize: none; 
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  /* Criei o footer em volta do botão de publicar para aparecer somente quando usuário estiver com a textarea focada  */
  /* visibility: hidden; faz o botão desaparecer da tela */
  visibility: hidden;
  max-height: 0;
}

/* Se houver um foco em qualquer input ou textarea ou qualquer elemento dentro do .commentForm, aplicar estilização no footer ou outro elemento dentro desse container  */
.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  /* transição do botão mais devagar */
  transition: background-color 0.1s;
}

.commentForm button[type=submit]:hover {
  background: var(--green-300);
}

.commentList {
  margin-top: 2rem;
}