:root {
  --main-font-family: sans-serif;
  --title-size: 3rem;
  --sub-title-size-3: 1.25rem;
  --paragraph-size: 1.5rem;
  --primary-color: #c11119;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
};