:root {
  --primary-color: #c11119;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tertiary-color);
  font-family: sans-serif;
}
body > main > #main-content-section {
  background: linear-gradient(rgba(0, 0, 0, 0.367), rgb(0, 0, 0)), url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 620px;
  margin: 0 auto;
  padding: 1.5rem;
}
body > main > #main-content-section > header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > header {
    gap: 6rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > #main-content-section > header {
    margin: 0 auto;
  }
}
body > main > #main-content-section > header > img {
  width: 13%;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > header > img {
    width: 25%;
  }
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > header > div {
    display: flex;
  }
}
body > main > #main-content-section > header > div > select {
  background-color: rgba(50, 50, 50, 0.6);
  background-image: url(/assets/images/translate-icon.svg);
  background-position: 8%;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.25rem;
  margin-right: 1rem;
  opacity: 100%;
  padding: 0.3rem 2rem;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > header > div > select {
    width: 0%;
  }
}
body > main > #main-content-section > header > div > select > option {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  line-height: 1.25rem;
}
body > main > #main-content-section > header > div > button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.2rem;
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.3rem 1rem;
}
body > main > #main-content-section > #main-content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content {
    width: 100%;
  }
}
body > main > #main-content-section > #main-content > .title,
body > main > #main-content-section > #main-content .subtitle,
body > main > #main-content-section > #main-content h3,
body > main > #main-content-section > #main-content p {
  color: var(--secondary-color);
  line-height: 1.25rem;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > .title,
  body > main > #main-content-section > #main-content .subtitle,
  body > main > #main-content-section > #main-content h3,
  body > main > #main-content-section > #main-content p {
    margin: 0 auto;
  }
}
body > main > #main-content-section > #main-content > .title {
  font-size: 3rem;
  font-weight: 900;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > .title {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > #main-content-section > #main-content > .title {
    line-height: 1.1;
  }
}
body > main > #main-content-section > #main-content > .subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > .subtitle {
    font-size: 1.125rem;
  }
}
body > main > #main-content-section > #main-content > h3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > h3 {
    font-size: 1.125rem;
    line-height: 1.5;
    width: 79%;
  }
}
body > main > #main-content-section > #main-content > form {
  margin: 0 auto;
  margin-top: 1rem;
  text-align: left;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > form {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > #main-content-section > #main-content > form {
    width: 90%;
  }
}
body > main > #main-content-section > #main-content > form .input-group {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > form .input-group {
    flex-direction: column;
    height: 110px;
  }
}
body > main > #main-content-section > #main-content > form .input-group input[type=text],
body > main > #main-content-section > #main-content > form .input-group button {
  border: none;
  border-radius: 0.1875rem;
  height: 55px;
  padding: 0 2.5rem;
}
body > main > #main-content-section > #main-content > form .input-group input[type=text] {
  background-color: rgba(50, 50, 50, 0.35);
  border: 2px solid #333430;
  color: var(--secondary-color);
  flex: 1;
}
body > main > #main-content-section > #main-content > form .input-group input[type=text]::-moz-placeholder {
  color: #bbbbbb;
  font-size: 1rem;
  padding-left: 0.313rem;
  text-align: start;
}
body > main > #main-content-section > #main-content > form .input-group input[type=text]::placeholder {
  color: #bbbbbb;
  font-size: 1rem;
  padding-left: 0.313rem;
  text-align: start;
}
body > main > #main-content-section > #main-content > form .input-group button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.1875rem;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  body > main > #main-content-section > #main-content > form .input-group button {
    font-size: 1rem;
    margin: 0 auto;
    width: 60%;
  }
}
body > main > #main-content-section > #main-content > form .input-group button:hover {
  background-color: #c11119;
}
body > main > .standart-plan-content {
  background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
  margin: 0 auto;
  padding: 2rem 0;
  width: 90%;
}
@media only screen and (max-width: 767px) {
  body > main > .standart-plan-content {
    padding: 3rem 0;
  }
}
body > main > .standart-plan-content > .standart-plan {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  gap: 2rem;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  body > main > .standart-plan-content > .standart-plan {
    flex-direction: column;
    padding: 0 1.2rem;
    gap: 0;
  }
}
body > main > .standart-plan-content > .standart-plan > .standart-image {
  width: 5%;
}
@media only screen and (max-width: 767px) {
  body > main > .standart-plan-content > .standart-plan > .standart-image {
    width: 20%;
    position: absolute;
    right: 270px;
    top: 570px;
  }
}
body > main > .standart-plan-content > .standart-plan > .standart-box {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body > main > .standart-plan-content > .standart-plan > .standart-box > .standart-p {
  font-size: 1.2rem;
  font-weight: bold;
}
body > main > .standart-plan-content > .standart-plan > .standart-box > .standart-p-two {
  font-size: 1rem;
}
body > main > .standart-plan-content > .standart-plan > .standart-box > button {
  background: none;
  border: none;
  font-size: 1.2rem;
}
body > main > .standart-plan-content > .standart-plan > .standart-box > button > a {
  color: #448ef4;
  cursor: pointer;
}
body > main > .medium-content {
  background: var(--tertiary-color);
  border-top: 8px solid rgb(33, 33, 33);
  margin-top: 0.625rem;
  padding: 5rem 0;
}
body > main > .medium-content > .medium {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}
@media only screen and (max-width: 767px) {
  body > main > .medium-content > .medium {
    flex-direction: column;
    gap: 0;
    padding: 0 1.2rem;
    text-align: center;
    width: 100%;
  }
}
body > main > .medium-content > .medium > #text-content > .title,
body > main > .medium-content > .medium > #text-content .subtitle,
body > main > .medium-content > .medium > #text-content h3,
body > main > .medium-content > .medium > #text-content p {
  color: var(--secondary-color);
  line-height: 1.25rem;
}
@media only screen and (max-width: 767px) {
  body > main > .medium-content > .medium > #text-content > .title,
  body > main > .medium-content > .medium > #text-content .subtitle,
  body > main > .medium-content > .medium > #text-content h3,
  body > main > .medium-content > .medium > #text-content p {
    margin: 0 auto;
  }
}
body > main > .medium-content > .medium > #text-content > .title {
  font-size: 3rem;
  font-weight: 900;
}
@media only screen and (max-width: 767px) {
  body > main > .medium-content > .medium > #text-content > .title {
    font-size: 1.8rem;
    line-height: 0.4em;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .medium-content > .medium > #text-content > .title {
    font-size: 2.3rem;
    line-height: 1;
  }
}
body > main > .medium-content > .medium > #text-content > .sbtl {
  line-height: 1;
}
body > main > .medium-content > .medium > #text-content > .title-child {
  line-height: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .medium-content > .medium > #text-content > .title-child {
    font-size: 2.3rem;
  }
}
body > main > .medium-content > .medium > #text-content > .subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2em;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  body > main > .medium-content > .medium > #text-content > .subtitle {
    font-size: 1.125rem;
    width: 90%;
  }
}
body > main > .medium-content > .medium > .medium-image {
  width: 45%;
}
@media only screen and (max-width: 767px) {
  body > main > .medium-content > .medium > .medium-image {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  body > main > .medium-desktop {
    display: none;
  }
}
body > main > .medium-mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  body > main > .medium-mobile {
    display: block;
  }
}
body > main > .container-faq {
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.625rem;
  padding: 10%;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq {
    padding: 4%;
  }
}
body > main > .container-faq > h1 {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > h1 {
    font-size: 2rem;
    margin: 0 auto 1.25rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > h1 {
    font-size: 2.5rem;
  }
}
body > main > .container-faq > .faq-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
}
body > main > .container-faq > .faq-list .faq .ques {
  align-items: center;
  background-color: #2d2d2d;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 1.875rem;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-list .faq .ques {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > .faq-list .faq .ques {
    font-size: 1.4rem;
  }
}
body > main > .container-faq > .faq-list .faq .ques > i {
  transition: all 0.3s ease-in-out;
}
body > main > .container-faq > .faq-list .faq .ques:hover {
  background-color: #545454;
}
body > main > .container-faq > .faq-list .faq .ans {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 100%;
}
body > main > .container-faq > .faq-list .faq .ans > p {
  background-color: #2d2d2d;
  border-top: 1px solid var(--tertiary-color);
  font-size: 1.875rem;
  padding: 1.875rem;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-list .faq .ans > p {
    font-size: 1.2rem;
    line-height: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > .faq-list .faq .ans > p {
    font-size: 1.4rem;
  }
}
body > main > .container-faq > .faq-list .faq.active .ans {
  max-height: 360px;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-list .faq.active .ans {
    max-height: 500px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > .faq-list .faq.active .ans {
    max-height: 600px;
  }
}
body > main > .container-faq > .faq-list .faq.active i {
  transform: rotate(45deg);
}
body > main > .container-faq > .faq-form {
  margin: 4rem 0 auto;
  text-align: center;
  width: 70%;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-form {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > .faq-form {
    width: 100%;
  }
}
body > main > .container-faq > .faq-form > h3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
body > main > .container-faq > .faq-form > form {
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  width: 70%;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-form > form {
    width: 100%;
  }
}
body > main > .container-faq > .faq-form > form .input-group {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-form > form .input-group {
    flex-direction: column;
    height: 110px;
  }
}
body > main > .container-faq > .faq-form > form .input-group input[type=text],
body > main > .container-faq > .faq-form > form .input-group button {
  border: none;
  border-radius: 0.1875rem;
  height: 55px;
  padding: 0 2.5rem;
}
body > main > .container-faq > .faq-form > form .input-group input[type=text] {
  background-color: rgba(50, 50, 50, 0.35);
  border: 2px solid #333430;
  color: var(--secondary-color);
  flex: 1;
}
body > main > .container-faq > .faq-form > form .input-group input[type=text]::-moz-placeholder {
  color: #bbbbbb;
  font-size: 1rem;
  padding-left: 0.313rem;
  text-align: start;
}
body > main > .container-faq > .faq-form > form .input-group input[type=text]::placeholder {
  color: #bbbbbb;
  font-size: 1rem;
  padding-left: 0.313rem;
  text-align: start;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > .faq-form > form .input-group input[type=text]::-moz-placeholder {
    font-size: 0.9rem;
  }
  body > main > .container-faq > .faq-form > form .input-group input[type=text]::placeholder {
    font-size: 0.9rem;
  }
}
body > main > .container-faq > .faq-form > form .input-group button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.1875rem;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  body > main > .container-faq > .faq-form > form .input-group button {
    font-size: 1rem;
    margin: 0 auto;
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body > main > .container-faq > .faq-form > form .input-group button {
    font-size: 0.9rem;
    width: 100%;
  }
}
body > main > .container-faq > .faq-form > form .input-group button:hover {
  background-color: #c11119;
}
body > main > footer > .medium-footer {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer {
    width: 100%;
  }
}
body > main > footer > .medium-footer > .medium-footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list {
  padding: 0;
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .doubts-box {
  margin-bottom: 1rem;
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .doubts-box > .doubts {
  color: #b3b3b3;
  font-size: 0.9rem;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .doubts-box > .doubts {
    font-size: 0.7rem;
  }
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .doubts-box > .doubts > a {
  color: #b3b3b3;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .doubts-box > .doubts > a {
    font-size: 0.7rem;
  }
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > li {
  color: #b3b3b3;
  font-size: 0.9rem;
  list-style: none;
  padding: 0.6rem 0;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > li {
    font-size: 0.7rem;
  }
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > li > a {
  color: #b3b3b3;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > li > a {
    font-size: 0.7rem;
  }
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .select-box {
  padding: 0.8rem 0;
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .select-box > select {
  background-color: rgba(50, 50, 50, 0.6);
  background-image: url(/assets/images/translate-icon.svg);
  background-position: 8%;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
  color: var(--secondary-color);
  font-size: 0.9rem;
  line-height: 1.25rem;
  margin-right: 1rem;
  opacity: 100%;
  padding: 0.3rem 2rem;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .select-box > select {
    font-size: 0.7rem;
    width: 90%;
  }
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .select-box > select > option {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  line-height: 1.25rem;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .select-box > select > option {
    font-size: 0.7rem;
  }
}
body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .paragraph-box > p {
  padding: 1rem 0;
  color: #b3b3b3;
  font-size: 0.9rem;
}
@media only screen and (max-width: 767px) {
  body > main > footer > .medium-footer > .medium-footer-list > .medium-list > .paragraph-box > p {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 767px) {
  body > main > .footer-desktop {
    display: none;
  }
}
body > main > .footer-mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  body > main > .footer-mobile {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */