* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  font-family: Helvetica, Arial, sans-serif;
  > main {
    background-image: url(https://wwwmarketing.scdn.co/static/images/premium/desktop-album-evergreen-1x.png), linear-gradient(0deg, rgba(255, 210, 215, 0) 94%, rgb(255, 210, 215) 100%);
    background-position: top right;
    background-repeat: no-repeat;
    > header {
      background-color: #000;
      > .interior-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
        max-width: 90%;
        margin: 0 auto;
        > .logo {
          width: 9%;
        }
        
        > nav {
          > .list-options {
            align-items: center;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: end;
            font-size: 1rem;
            font-weight: bold;

  
            > li {
              list-style: none;
  
              > .list-options-button {
                background-color: transparent;
                border: none;
                color: #ffffff;
                font-size: 1rem;
                font-weight: bold;
              }

              > .list-options-button:hover {
                color: #1eaf1f;
              }
    
              > a {
                color: #ffffff;
                text-decoration: none;
              }

              > a:hover {
                color: #1eaf1f;
              }
            }

            > li:hover {
              color: #1eaf1f;
            }
    
            > .list-options-profile {
              width: 5%;
              border-radius: 100%;
            }
          }
        }
      }
    }

    > .container {
      height: 565px;
      max-width: 75%;
      margin: 0 auto;

      > .container-music {
        padding: 3.2rem 0;
        color: #fff;
        > h1 {
          width: 45%;
          font-size: 2.7rem;
          font-weight: bold;
          margin-bottom: .5rem;
        }

        > h2 {
          font-size: 1rem;
          font-weight: 500;
          line-height: 2.3em;
        }

        > .container-music-buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          margin: 2rem 0;

          > .container-music-button-individual {
            background-color: #FFD2D7;
            padding: 1rem 2.2rem;
            border-radius: 8rem;
            > a {
              color: #000;
              text-decoration: none;
              font-weight: bold;
              font-size: 1rem;
            }

            &:hover {
              padding: 1.1rem 2.3rem;
              background-color: #ffebee;
            }
          }

          > .container-music-button-planos {
            background-color: #000;
            padding: 1rem 2rem;
            border-radius: 8rem;
            border: 0.1px solid #fff;
            > a {
              color: #fff;
              text-decoration: none;
              font-weight: bold;
              font-size: 1rem;
            }

            &:hover {
              padding: 1.1rem 2.3rem;
            }
          }
        }
        

        > p {
          font-size: .6rem;
          > a {
            color: #fff;
          }
        }
      }
    }

    > .benefits {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;

      > div {
        > h2 {
          color: #fff;
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: .5rem;
        }
        > h3 {
          color: #fff;
          font-size: 1.4rem;
          font-weight: normal;
          line-height: 1.2em;
        }
      }

      > article {
        padding: 4rem 0;
        > table {
          color: #fff;
          // table-layout: fixed;
          border-spacing: 0px;
          width: 100%;
          max-width: 446px;
          margin: 0 auto;
          // overflow-wrap: break-word;
          // background: rgb(26, 26, 26);
          // --readable-color: red;
          > thead {
            text-align: left;
            > tr {
              > th {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.2em;
                text-align: left;
                border-bottom: 1px solid rgb(217, 218, 220);
              }

              > .bn {
                vertical-align: bottom;
              }

              > .center {
                text-align: left;
                // height: 100%;
                width: 15%;
                padding: 32px 8px 32px 20px;
              }

              > .premium {
                > .center-flex {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  gap: .1rem;

                  > .center-image {
                    width: 15%;
                  }
                }
              }
            }
          }

          > .body-footer {
            > tr {
              > th {
                text-align: left;
                border-bottom: 1px solid rgb(217, 218, 220);
                font-weight: 400;
                font-size: 15px;
                width: 30%;
                padding: 1.2rem 0;

                // display: inline-block;
                // background-color: inherit;
                text-decoration-line: underline;
                text-decoration-style: dashed;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
                // color: var(--text-base, #ffffff);
                // font-size: var(--tooltip-content-font-size, 14px);
                line-height: 24px;
                // text-decoration-color: var(--text-subdued, inherit);
              }

              > td {
                border-bottom: 1px solid rgb(217, 218, 220);
                color: rgb(255, 255, 255);
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
              }
            }
          }
        }
      }
    }

    > .cards {
      text-align: center;
      margin: 0 auto;
      max-width: 75%;
      color: #fff;
      line-height: 1.2em;

      > div {
        > h2 {
          color: #fff;
          font-size: 2.2rem;
          font-weight: bold;
          margin-bottom: 1.5rem;
        }

        > h3 {
          color: #fff;
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.2em;
          width: 58%;
          margin: 0 auto;
        }
      }

      > div {
        padding: .5rem 0;
        > ul {
          width: 20%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .5rem;
    
          > li {
            list-style: none;
            > img {
              width: 100%;
            }
          }
        }

        > .others {
          margin: 1rem 0;
          > span {
            font-size: 1rem;
            text-decoration: underline;
          }
        }
      }

      > aside {
        padding: 2rem 5.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        > h3 {
          font-size: 2rem;
          font-weight: bold;
        }

        > ul {
          > li {
            display: flex;
            align-items: center;
            gap: .2rem;
            color: #fff;
            list-style: none;
            text-align: left;
            font-size: .9rem;
            font-weight: 500;
          }
        }
      }
    }

    > .plans {
      color: #fff;
      margin: 0 auto;
      padding: 5rem 0;
      > .grid {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 35px;
        place-content: center;
        > .item {
          background-color: #242424;
          padding: 20px;
          border-radius: 8px;
          display: grid;
  
          > span {
            margin-top: 0px;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: .2rem;

            > img {
              width: 10%;
              align-items: center;
              justify-content: center;
            }
          }

          > h3 {
            font-size: 1.8rem;
            margin: .6rem 0;
          }

          > .individual {
            color: #ffd2d7;
          }

          > .university {
            color: #c4b1d4;
          }

          > .duo {
            color: #ffc862;
          }

          > .family {
            color: #a5bbd1;
          }

          > .preco {
            font-size: .9rem;
            font-weight: bold;
          }
          > .hr {
            border: none;
            height: 2px;
            margin: 1rem 0;
            color: rgba(255, 255, 255, 0.1);
            background-color: rgba(255, 255, 255, 0.1);
          }

          > ul {
            padding: 0 1rem 1rem 1rem;
            > li {
              font-size: .9rem;
              line-height: 1.5em;
              font-weight: 540;
            }
          }

          > a {
          background: #a8f; 
          color: #000;
          padding: 15px 20px;
          text-decoration: none;
          border-radius: 30px;
          text-align: center;
          font-weight: bold;
          font-size: 1rem;
          }

          > a:hover {
            font-size: 1.1rem;
          }

          > .button-individual {
            background-color: #ffd2d7;
          }

          > .button-university {
            background-color: #c4b1d4;
          }

          > .button-duo {
            background-color: #ffc862;
          }

          > .button-family {
            background-color: #a5bbd1;
          }

          > .p-button {
            font-size: .65rem;
            text-align: center;
            margin: 1rem 0;
            font-weight: normal;
            color: #a7a7a7;

            > .button {
              font-size: .65rem;
              text-align: center;
              font-weight: normal;
              color: #a7a7a7; 
            }
          }

        }

        > .item-family {
          grid-column: 2;
        }
      }
    }

    > .faq {
      color: #fff;
      margin: 0 auto;
      text-align: center;

      > .accordion-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 1200px;
        margin: 0 auto;
        text-align: left;

        > .accordion {
          padding: 12px;
          cursor: pointer;
          &:hover {
            background-color: #2a2a2a;
          }

          > .accordion-faq {
            > .accordion-header {
              width: 100%;
              cursor: pointer;
              color: #fff;
              border: none;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 1rem;
              font-weight: bold;
              &:hover {
                text-decoration: underline;
              }

              > span {
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            > .accordion-body {
              font-size: 1rem;
              opacity: 0;
              height: 0;
            }

            > .accordion-body.active {
              height: 100%;
              opacity: 1;
              padding: 5px 0;
            }
          }
          
        }
      }
    }

    > .footer {
      background-color: #000;
      padding: 5rem 0;
      margin: 0 auto;
      > .footer-nav {
        display: flex;
        justify-content: center;
        > .footer-container {
          width: 10%;
          > .footer-link {
            > .footer-logo {
              width: 70%;
            }
          }
        }

        > .footer-container-list {
          width: 40%;
          display: flex;
          justify-content: space-around;
          gap: 2rem;

          > .footer-container-lista-one {
            width: 17%;
            > .color-title {
              color: #919496;
              font-size: .8rem;
              text-transform: uppercase;
              padding: 1rem 0;
            }

            > .subtitle {
              padding: .6rem 0;
              > .subtitle-link {
                color: #fff;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
              }
            }
          }
        }

        > .footer-container-icons {
          width: 10%;
          text-align: end;
          > .list-icons {
            display: flex;


            > .list-icons-footer {
                list-style: none;
                color: #fff;
                gap: 0;
              > .list-icons-footer-link {
                > .span-icons {
                  display: block;
                  > .icons-img {
                    width: 40%;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
