* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  font-family: Helvetica, Arial, sans-serif;
  > main {
    background-image: url(https://wwwmarketing.scdn.co/static/images/premium/desktop-album-evergreen-1x.png), linear-gradient(0deg, rgba(255, 210, 215, 0) 90%, rgb(255, 210, 215) 100%);
    background-position: top right;
    background-repeat: no-repeat;
    > header {
      background-color: #000;
      > .interior-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
        max-width: 90%;
        margin: 0 auto;
        > .logo {
          width: 9%;
        }
        
        > nav {
          > .list-options {
            align-items: center;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: end;
            font-size: 1rem;
            font-weight: bold;

  
            > li {
              list-style: none;
  
              > .list-options-button {
                background-color: transparent;
                border: none;
                color: #ffffff;
                font-size: 1rem;
                font-weight: bold;
              }

              > .list-options-button:hover {
                color: #1eaf1f;
              }
    
              > a {
                color: #ffffff;
                text-decoration: none;
              }

              > a:hover {
                color: #1eaf1f;
              }

              
            }

            > li:hover {
              color: #1eaf1f;
            }
    
            > .list-options-profile {
              width: 5%;
              border-radius: 100%;
            }
          }
        }
      }
    }

    > .container {
      height: 565px;
      max-width: 75%;
      margin: 0 auto;

      > .container-music {
        padding: 3.2rem 0;
        color: #fff;
        > h1 {
          width: 45%;
          font-size: 2.7rem;
          font-weight: bold;
          margin-bottom: .5rem;
        }

        > h2 {
          font-size: 1rem;
          font-weight: 500;
          line-height: 2.3em;
        }

        > .container-music-buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          margin: 2rem 0;

          > .container-music-button-individual {
            background-color: #FFD2D7;
            padding: 1rem 2.2rem;
            border-radius: 8rem;
            > a {
              color: #000;
              text-decoration: none;
              font-weight: bold;
              font-size: 1rem;
            }

            &:hover {
              padding: 1.1rem 2.3rem;
              background-color: #ffebee;
            }
          }

          > .container-music-button-planos {
            background-color: #000;
            padding: 1rem 2rem;
            border-radius: 8rem;
            border: 0.1px solid #fff;
            > a {
              color: #fff;
              text-decoration: none;
              font-weight: bold;
              font-size: 1rem;
            }

            &:hover {
              padding: 1.1rem 2.3rem;
            }
          }
        }
        

        > p {
          font-size: .6rem;
          > a {
            color: #fff;
          }
        }
      }
    }

    > .plans {
      text-align: center;
      max-width: 40%;
      margin: 0 auto;

      > div {
        > h2 {
          color: #fff;
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: .5rem;
        }
        > h3 {
          color: #fff;
          font-size: 1.4rem;
          font-weight: normal;
          line-height: 1.2em;
        }
      }

      > article {
        padding: 4rem 0;
        > table {
          width: 75%;
          margin: 0 auto;
          color: #fff;
          > thead {
            text-align: left;
            > tr {
              > th {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.2em;
                padding: .5rem 1.3rem;
              }

              // > .center {
              //   text-align: center;
              //   width: 1%;
              // }

              // > .premium {
              //   width: 0.2%;
              //   text-align: left;
              // }
            }
            
          }

          > .body-footer {
            > tr {
              > th {
                color: #fff;
                font-weight: 400;
                padding: .5rem 1.3rem;
                text-align: left;
              }

              > td {
                text-align: center;
                font-weight: 400;
                line-height: 1.2em;
                // border-bottom: 2px solid #fff;
                padding: .5rem 0;
              }
            }
          }
        }
      }
    }

    > .cards {
      text-align: center;
      margin: 0 auto;
      max-width: 75%;
      color: #fff;
      line-height: 1.2em;

      > div {
        > h2 {
          color: #fff;
          font-size: 2.2rem;
          font-weight: bold;
          margin-bottom: 1.5rem;
        }

        > h3 {
          color: #fff;
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.2em;
          width: 58%;
          margin: 0 auto;
        }
      }

      > div {
        padding: .5rem 0;
        > ul {
          width: 20%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .5rem;
    
          > li {
            list-style: none;
            > img {
              width: 100%;
            }
          }
        }

        > .others {
          margin: 1rem 0;
          > span {
            font-size: 1rem;
            text-decoration: underline;
          }
        }
      }

      > aside {
        padding: 2rem 5.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        > h3 {
          font-size: 2rem;
          font-weight: bold;
        }

        > ul {
          > li {
            display: flex;
            align-items: center;
            gap: .2rem;
            color: #fff;
            list-style: none;
            text-align: left;
            font-size: .9rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

