* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    > main {
      background-color: rgb(18, 18, 18);
      > header {
        background-color: #000;
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        > .logo {
          display: block;
          width: 10%;
        }

        > nav {
          > ul {
            display: flex;
            // justify-content: space-between;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            color: #fff;
            > .premium {
              > button {
                background: none;
                border: none;
                > div {
                  > span {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: bold;
                  }
                }
              }
            }

            > li,
            a {
              color: #fff;
              list-style: none;
              text-decoration: none;
              font-size: 1rem;
              font-weight: bold;
            }

            > .profile-photo {
              width: 5%;
              border-radius: 100%;
            }
          }
        }
      }

    > .container {
      padding: 5rem 10rem;
      width: 100%; 
      height: 400px; 
      background-image: url(https://wwwmarketing.scdn.co/static/images/premium/desktop-album-evergreen-1x.png), linear-gradient(0deg, rgba(255, 210, 215, 0) 45%, rgb(255, 210, 215) 100%);
      // background-size: 800px; 
      background-position: right;
      background-repeat: no-repeat;

      > .container-title {
        h1, p {
          color: #FFF;
          text-shadow: rgba(0, 0, 0, 0.65) 0px 4px 14px;
        }

        h1 {
          font-size: 2.875rem;
          line-height: 2.875rem;
          
          width: 540px;
        }

        p {
          font-size: 1rem;
          line-height: 1.875rem;
        }
      }

      > .container-button {
        margin: 1rem 0;
        display: flex;
        gap: 20px;
        > .button-one {
          background-color: #ffebee;
          padding: 1rem 2.5rem;
          border-radius: 2rem;
          border: none;

          > a {
            color: #000;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
          }
        }

        > .button-two {
          background-color: #000;
          padding: 1rem 1.5rem;
          border-radius: 2rem;
          border: .5px solid #fff;
          > a {
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }

      > .container-p {
        > p {
          > a {
            text-decoration: underline;
            color: #fff;
            font-size: .8rem;
          }
        }
      }
    }

    > .premium {
      margin-top: 8rem;
      > .premium-one {
        text-align: center;
        > h2,h3 {
          color: #fff;
          line-height: 1.2em;
          margin: 0 auto;

        }

        > h2 {
          font-size: 2.5rem;
        }

        > h3 {
          font-size: 1.5rem;
          font-weight: normal;
          width: 45%;
          
        }
      }
    }
  }
}
