body {
  font-family: Arial;
  margin: 50px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

.item {
  background: #111;
  /* <h2> e <p> herdam a cor do .item que é a div, mas o <a> não herda */
  color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

span {
  color: #febe01;
}
p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  background: #febe01;
  color: #332200;
  /* <a> é um elemento display inline e o padding não respeita, por isso temos que colocar display:inline-block */
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
