.wrapper {
  max-width: 70rem; /* É a largura dos boxs + a distãncia entre os boxs no Figma */
  margin: 2rem auto; /* O auto nas laterais centraliza o wrapper na tela  */
  padding: 0 1rem; /* Se diminuir a tela pra menos que 70rem, o conteúdo não fica colado nas laterais. */

  display: grid;
  grid-template-columns: 256px 1fr; /* Primeira coluna (sidebar) com largura fixa de 256 pixels. --- Segunda coluna (conteúdo) se adapta para quanto couber na tela */ 
  gap: 2rem; /* Espaçamento entre as colunas de 32 pixels. */
  align-items: flex-start; /* Para a sidebar e div dos posts(main), sempre fiquem alinhados pro topo. OBS: O padrão(stretch) é esticar os dois pra que eles tenham o mesmo tamanho. Então se a gente não colocar aquilo ali, ele vai tentar forçar a nossa sidebar ter a mesma altura desse main que tem os posts.*/
}

/* 1fr: Unidade usada no grid pra dizer que algo vai ter um tamanho flexível. */