* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  font-family: Helvetica, Arial, sans-serif;
}
body > main {
  background-image: url(https://wwwmarketing.scdn.co/static/images/premium/desktop-album-evergreen-1x.png), linear-gradient(1deg, rgba(255, 210, 215, 0) 96.5%, rgb(255, 210, 215) 101%);
  background-position: top 70px right;
  background-repeat: no-repeat;
}
body > main > header {
  background-color: #000;
}
body > main > header > .header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 2rem;
}
body > main > header > .header > .header-logo {
  width: 9%;
}
body > main > header > .header > .header-nav > .header-nav-list {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  gap: 2rem;
  justify-content: end;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-option {
  list-style: none;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-option > .header-nav-list-option-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-option > .header-nav-list-option-button:hover {
  color: #1eaf1f;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-option > .header-nav-list-option-link {
  color: #ffffff;
  text-decoration: none;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-option > .header-nav-list-option-link:hover {
  color: #1eaf1f;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-option:hover {
  color: #1eaf1f;
}
body > main > header > .header > .header-nav > .header-nav-list > .separator {
  font-size: 1rem;
  font-weight: 100;
}
body > main > header > .header > .header-nav > .header-nav-list > .separator:hover {
  color: #fff;
}
body > main > header > .header > .header-nav > .header-nav-list > .header-nav-list-profile {
  border-radius: 100%;
  width: 5%;
}
body > main > .container {
  margin: 0 auto;
  max-width: 85%;
}
body > main > .container > .container-music {
  color: #fff;
  padding: 5rem 0 9rem 0;
}
body > main > .container > .container-music > .container-music-headline {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 45%;
}
body > main > .container > .container-music > .container-music-subtitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.3em;
}
body > main > .container > .container-music > .container-music-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 0;
}
body > main > .container > .container-music > .container-music-buttons > .container-music-button-individual {
  background-color: #FFD2D7;
  border-radius: 8rem;
  padding: 1rem 2.2rem;
}
body > main > .container > .container-music > .container-music-buttons > .container-music-button-individual > .container-music-button-individual-link {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
body > main > .container > .container-music > .container-music-buttons > .container-music-button-individual:hover {
  background-color: #ffebee;
  padding: 1.1rem 2.3rem;
}
body > main > .container > .container-music > .container-music-buttons > .container-music-button-planos {
  background-color: #000;
  border: 0.1px solid #fff;
  border-radius: 8rem;
  padding: 1rem 2rem;
}
body > main > .container > .container-music > .container-music-buttons > .container-music-button-planos > .container-music-button-planos-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
body > main > .container > .container-music > .container-music-buttons > .container-music-button-planos:hover {
  padding: 1.1rem 2.3rem;
}
body > main > .container > .container-music > .container-music-paragraph {
  font-size: 0.7rem;
}
body > main > .container > .container-music > .container-music-paragraph > .container-music-paragraph-link {
  color: #fff;
  line-height: 2em;
}
body > main > .benefits > .benefits-differences {
  text-align: center;
}
body > main > .benefits > .benefits-differences > .benefits-differences-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
body > main > .benefits > .benefits-differences > .benefits-differences-subtitle {
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 auto;
  width: 50%;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table {
  border-spacing: 0px;
  color: #fff;
  margin: 0 auto;
  max-width: 35%;
  padding: 4rem 0;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-thead > .benefits-differences-table-thead-tr > th {
  border-bottom: 1px solid rgb(217, 218, 220);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2em;
  text-align: left;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-thead > .benefits-differences-table-thead-tr > .benefits-differences-table-thead-tr-benefits {
  vertical-align: bottom;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-thead > .benefits-differences-table-thead-tr > .benefits-differences-table-thead-tr-free {
  padding: 32px 8px 32px 20px;
  text-align: left;
  width: 15%;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-thead > .benefits-differences-table-thead-tr > .premium > .premium-flex {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-thead > .benefits-differences-table-thead-tr > .premium > .premium-flex > .premium-flex-img {
  width: 15%;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-tbody > .benefits-differences-table-tbody-tr > .benefits-differences-table-tbody-tr-th {
  border-bottom: 1px solid rgb(217, 218, 220);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 1.2rem 0;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  width: 15%;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-tbody > .benefits-differences-table-tbody-tr > .benefits-differences-table-tbody-tr-td-image {
  border-bottom: 1px solid rgb(217, 218, 220);
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-tbody > .benefits-differences-table-tbody-tr:hover {
  background-color: #1a1a1a;
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-tbody > .benefits-differences-table-tbody-tr > .benefits-differences-table-tbody-tr-td-check {
  border-bottom: 1px solid rgb(217, 218, 220);
}
body > main > .benefits > .benefits-differences > .benefits-differences-table > .benefits-differences-table-tbody > .benefits-differences-table-tbody-tr > .benefits-differences-table-tbody-tr-td-check:hover {
  background-color: #313131;
}
body > main > .cards {
  text-align: center;
}
body > main > .cards > .cards-plans {
  color: #fff;
}
body > main > .cards > .cards-plans > .cards-plans-title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
body > main > .cards > .cards-plans > .cards-plans-subtitle {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0 auto;
  width: 52%;
}
body > main > .cards > .cards-list {
  padding: 2rem 0;
}
body > main > .cards > .cards-list > .cards-list-ordered {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
}
body > main > .cards > .cards-list > .cards-list-ordered > .cards-list-ordered-order {
  list-style: none;
}
body > main > .cards > .cards-list > .cards-list-ordered > .cards-list-ordered-order > .cards-list-ordered-order-image {
  width: 100%;
}
body > main > .cards > .cards-list > .cards-list-others {
  margin: 1rem 0;
}
body > main > .cards > .cards-list > .cards-list-others > .cards-list-others-span {
  color: #fff;
  font-size: 1rem;
  text-decoration: underline;
}
body > main > .cards > .cards-aside {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
body > main > .cards > .cards-aside > .cards-aside-title {
  font-size: 2rem;
  font-weight: bold;
}
body > main > .cards > .cards-aside > .cards-aside-list > .cards-aside-list-order {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  gap: 0.2rem;
  list-style: none;
  text-align: left;
}
body > main > .plans {
  color: #fff;
}
body > main > .plans > .plans-grid {
  display: grid;
  gap: 35px;
  grid-template-columns: 350px 350px 350px;
  padding: 5rem 0;
  place-content: center;
}
body > main > .plans > .plans-grid > .plans-grid-item {
  background-color: #242424;
  border-radius: 8px;
  display: grid;
  padding: 20px;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-span {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.2rem;
  margin-top: 0px;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-span > .plans-grid-item-span-image {
  align-items: center;
  justify-content: center;
  width: 10%;
}
body > main > .plans > .plans-grid > .plans-grid-item > h3 {
  font-size: 1.8rem;
  margin: 0.6rem 0;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-individual {
  color: #ffd2d7;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-university {
  color: #c4b1d4;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-duo {
  color: #ffc862;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-family {
  color: #a5bbd1;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-preco {
  font-size: 0.9rem;
  font-weight: bold;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-paragraph {
  color: rgb(167, 167, 167);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2em;
}
body > main > .plans > .plans-grid > .plans-grid-item > .hr {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.1);
  height: 2px;
  margin: 1rem 0;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-list {
  padding: 0 1rem 1rem 1rem;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-item-list > .plans-grid-item-list-order {
  font-size: 0.9rem;
  font-weight: 540;
  line-height: 1.5em;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-button {
  background: #a8f;
  border-radius: 30px;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-button:hover {
  font-size: 1.1rem;
}
body > main > .plans > .plans-grid > .plans-grid-item > .button-individual {
  background-color: #ffd2d7;
}
body > main > .plans > .plans-grid > .plans-grid-item > .button-university {
  background-color: #c4b1d4;
}
body > main > .plans > .plans-grid > .plans-grid-item > .button-duo {
  background-color: #ffc862;
}
body > main > .plans > .plans-grid > .plans-grid-item > .button-family {
  background-color: #a5bbd1;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-button-paragraph {
  color: #a7a7a7;
  font-size: 0.73rem;
  font-weight: normal;
  margin: 1rem 0;
  text-align: center;
}
body > main > .plans > .plans-grid > .plans-grid-item > .plans-grid-button-paragraph > .plans-grid-button-paragraph-link {
  color: #a7a7a7;
  font-size: 0.65rem;
  font-weight: normal;
  text-align: center;
}
body > main > .plans > .plans-grid > .item-family {
  grid-column: 2;
}
body > main > .faq {
  color: #fff;
  text-align: center;
}
body > main > .faq > .faq-questions {
  padding-bottom: 1.5rem;
}
body > main > .faq > .faq-questions > .faq-questions-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2em;
}
body > main > .faq > .faq-questions > .faq-questions-paragraph {
  font-size: 1rem;
  line-height: 1.2em;
  padding: 0.5rem 0;
}
body > main > .faq > .faq-questions > .faq-questions-paragraph > .faq-questions-paragraph-link {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.2em;
}
body > main > .faq > .faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 5rem;
}
body > main > .faq > .faq-accordion > .faq-accordion-container {
  cursor: pointer;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .faq-accordion-container-div-header {
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1e1e1e;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .faq-accordion-container-div-header:hover {
  background-color: #2a2a2a;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .faq-accordion-container-div-header > .faq-accordion-container-div-header-span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .faq-accordion-container-div-header > .faq-accordion-container-div-header-span:hover {
  text-decoration: underline;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .faq-accordion-container-div-header > .arrow {
  transition: transform 0.2s linear;
  list-style: none;
  text-decoration: none;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .accordion-body {
  background-color: #242424;
  font-size: 1rem;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .accordion-body > .accordion-body-paragraph {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5em;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .accordion-body > .accordion-body-paragraph > .accordion-body-paragraph-link {
  color: #fff;
}
body > main > .faq > .faq-accordion > .faq-accordion-container > .faq-accordion-container-div > .accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px 0;
}
body > main > .faq > .faq-accordion > .accordion:has(.active) .arrow {
  transform: rotate(180deg);
}
body > main > .footer {
  background-color: #000;
}
body > main > .footer > .footer-nav {
  margin: 0 auto;
  max-width: 75%;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
body > main > .footer > .footer-nav > .footer-container > .footer-link > .footer-logo {
  width: 30%;
}
body > main > .footer > .footer-nav > .footer-container-list {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
body > main > .footer > .footer-nav > .footer-container-list > .footer-container-lista-one {
  width: 17%;
}
body > main > .footer > .footer-nav > .footer-container-list > .footer-container-lista-one > .color-title {
  color: #919496;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 1rem 0;
}
body > main > .footer > .footer-nav > .footer-container-list > .footer-container-lista-one > .subtitle {
  padding: 0.6rem 0;
}
body > main > .footer > .footer-nav > .footer-container-list > .footer-container-lista-one > .subtitle > .subtitle-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
body > main > .footer > .footer-nav > .footer-container-icons {
  text-align: end;
}
body > main > .footer > .footer-nav > .footer-container-icons > .list-icons {
  display: flex;
}
body > main > .footer > .footer-nav > .footer-container-icons > .list-icons > .list-icons-footer {
  list-style: none;
  color: #fff;
  gap: 0;
}
body > main > .footer > .footer-nav > .footer-container-icons > .list-icons > .list-icons-footer > .list-icons-footer-link > .span-icons {
  display: block;
}
body > main > .footer > .footer-nav > .footer-container-icons > .list-icons > .list-icons-footer > .list-icons-footer-link > .span-icons > .icons-img {
  width: 40%;
  color: #fff;
}/*# sourceMappingURL=main.css.map */