body {
  height: 1200px;
}
div {
  border: 2px solid #ccc;
  margin-top: 40px;
  padding: 20px 20px 40px 20px;
}

span {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 10px;
  position: relative;
  bottom: 50px;
}

/* Posicionar o elemento <span> um pouco mais acima.  */
/* Colocar um top: -20px, mas tem que colocar também um position.  */

/* Position relative está relativo ao local onde o elemento está.  */
/* O elemento continua ocupando o espaço dele, mesmo que o espaço fique vazio.  */
