.today {
  color: darkred;
}

.tomorrow {
  color: darkblue;
}

a {
  text-decoration: none;
}

h2 a {
  color: seagreen;
}

p {
  font-size: 20px;
}

body {
  font-family: Arial;
}
