* {
  box-sizing: content-box;
}
body {
  margin: 50px;
  font-size: 17px;
}

h1 {
  font-family: 'Indie Flower';
}

label {
  display: block;
  margin-bottom: 20px;
}

input[type=text] {
  padding: 10px;
  width: 500px;
}