* {
  box-sizing: content-box;
}
body {
  margin: 50px;
  font-size: 17px;
}

p {
  color: #0000FF;
  font-size: 20px;
  font-family: Helvetica;
  text-align: left;
  text-shadow: 1px 1px 3px #FF0000;
}


