* {
  box-sizing: content-box;
}
body {
  margin: 0;
}
.exemplo {
  background-color: #00FF00;
  width: 400px; 
  height: 400px;
  border: 5px solid #000;
  padding: 10px;
  margin: 20px;
}

