body {
  margin: 0;
}

.exemplo {
  width: 500px;
  height: 200px;

  /* background padrão caso o navegador não suporte */
  background: blue; 

  /* Sintaxe padrão */
  background: linear-gradient(-75deg, white, blue);

  /* Versão Mozzila */
  background:-moz-linear-gradient(-75deg,white, blue);

  /* Opera */
  background:-o-linear-gradient(-75deg,white, blue);

  /* Safari */
  background: -webkit-linear-gradient(-75deg,white, blue);
}

