body {
  height: 1200px;
}
div {
  border: 2px solid #ccc;
  margin-top: 40px;
  padding: 20px 20px 40px 20px;
  /* Esse position relative faz com que o filho <span> que está com position absolute fique a 0px de distância do pai que é essa <div> aqui, e não mais a 0px de distância da tela como estava se apenas o <span> tivesse absolute sem o relative no pai div. */
  position: relative;
}

span {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 10px;
  /* Position absolute tira o elemento do fluxo normal dele, e ele também passa agora a não ocupar mais o espaço anterior que estava ocupando. Ele fica até por cima do título. Pois é como se o elemento não existisse mais no fluxo da tela. */
  position: absolute;
  /* Com top de 0px ele passa a posicionar o elemento de acordo com a tela. Fica um elemento em cima do outro a 0px do topo. Se colocarmos vários elementos e colocar position absolute, eles vão ficar sempre um em cima do outro. */
  /* Como fazer para que ele seja 0px em relação ao elemento pai dele? 
  ---> Temos que definir que a div(elemento que segura o span que está como position absolute) seja position relative.  */
  /* top: 0px; */
  top: -20px;
  /* bottom: 40px; */
}

/* Position absolute e relative vai servir muito para casos onde queremos posicionar o elemento acima da borda, por exemplo, não teria como fazer no fluxo normal, apenas usando margem negativa, que não é recomendado.  */
