body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(33,33,33);
}

#container {
  background: linear-gradient(rgba(0, 0, 0, 0.367), rgb(0,0,0)), url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 880px;
  padding: 25px;

}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 160px;
}

select {
  padding: 7px 16px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 1.5px solid white ;
}

option {
  background-color: grey;
}

#btn-enter {
  padding: 7px 17px;
  font-size: 14px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
}

#main-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3 {
  color: white;
}

h2, h3 {
  font-weight: lighter;
}

.section-title {
  font-size: 58px;
}

form {
  display: flex;
  justify-content: center;
}

#email {
  height: 50px;
  width: 500px;
  padding: 10px;
}

#btn-start {
  width: 200px;
  font-size: 28px;
  color: white;
  background-color: #e50914;
  border: none;
}

.text-content-one {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#width-subtitle {
  width: 500px;
}

