:root {
  --header-bg-color: #FFFFFF;
  --header-text-color: #C8C8C8;
  --body-bg-color: #F8F8F8;
  --primary-blue: #41b1df;
  --secondary-blue: #0284cf;
  --tertiary-blue: #3156a4;
}

* {
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  align-items: center;
  background-color: var(--header-bg-color);
  display: flex;
  gap: 200px;
  height: 80px;
  justify-content: center;
}

img {
  margin-left: 3.125rem;
  width: 10%;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

li {
  color: var(--header-text-color);
  font-size: .75rem;
  font-style: normal;
  margin-right: 0.938rem;
  padding: 0.75rem 0.625rem;
  text-transform: uppercase;
}

.home { 
  background-color: var(--primary-blue);
}

h1, p {
  color: var(--header-bg-color);
}

.first {
  background-image: url(/assets/images/img1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-h1 {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: normal;
  margin-left: 6.4rem;
  width: 40%;
  line-height: 1em;
}

.first-p {
  width: 24.5%;
  margin: 1rem 0 5rem 6.5rem;
  line-height: 1.2em;
  font-size: .8rem;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.emergency-case, 
.doctors-timetable, 
.opening-hours {
  width: 100%;
  flex: 1;
  color: var(--header-bg-color);
  padding: .8rem 2rem;
}

.emergency-case {
  background-color: var(--primary-blue);
}

.doctors-timetable {
  background-color: var(--secondary-blue);
}

button {
  background-color: transparent;
  color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
  padding: 0.5rem;
  margin-top: 1rem;

}

.opening-hours {
  background-color: var(--tertiary-blue);
}

.opening-hours-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  gap: 45px;
  width: 130%;
}


h2, p {
  margin-bottom: 1rem;
  width: 100%;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

p {
  font-size: 0.7rem;
}