.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.titulo {
  grid-column: 1 / -1;
}

/* A div info é um elemento de bloco, e não do tipo grid, e todos os filhos se comportam normalmente. O <span> e o <a> são elementos inline. Por isso estouram o padding, pois não respeitam o tamanho do padding. Para resolver isso, definir o info como display:grid   */
.info {
  /*  place-self: start; -> Definir que a div vai ficar lá em cima  */
  place-self: start;
  display: grid;
  /* place-items -> Colocar itens no início */
  place-items: start;
  gap: 20px;
}

/* Estilos Gerais */

body {
  font-family: Arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
